/*
 *
 *		PAGES-STYLE.CSS
 *
 *	+ PAGE WRAPPER
 *	+ HEADER
 *	 - LOGO
 *	 - MENU
 *	 - MOBILE MENU
 *	 - SEARCH
 *	 - STICKY
 *	+ PAGE CONTENT
 *	 - PAGE HEADER
 *	+ FOOTER
 *	 - FOOTER
 *	 - FOOTER BOTTOM
 *  + PAGES
 *	 - HOME
 *	 - ABOUT
 *	 - SERVICES
 *	 - PORTFOLIO
 *	 - BLOG
 *	 - CONTACT
 *	 - SHORTCODES
 */

/***********************************************************************************
 *	+ PAGE WRAPPER
 ***********************************************************************************/
 
 	#main-container {
		overflow: hidden;
		background-color: #fff; 
	}
 
/***********************************************************************************
 *	+ HEADER
 ***********************************************************************************/
 
	#header-container {
		margin-bottom: 30px;
	}
 	
	#header [class^="col-"] {
		position: static;
	}
	
	#header .container {
		position: relative;
	}
	
	#header {
		position: absolute;
		z-index: 8010;
		top: 0;
		right: 0;
		left: 0;
		padding: 0 20px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	@media (min-width: 1200px) {
		
		#header {
			padding: 0 30px;
		}
		
		#header [class^="col-"] {
			position: relative;
		}
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#header {
			position: relative;
			padding: 0;
			background-color: #151515;
		}
		
	}
	
	@media (max-width: 767px) {
		
		#header {
			position: relative;
			padding: 0;
			background-color: #151515;
		}
		
	}
	
/***********************************************************************************
 *	- LOGO
 ***********************************************************************************/

	#logo {
		max-width: 100%;
		margin: 40px 0 45px;
	}
	
	#logo a {
		display: inline-block;
		max-width: 100%;
		text-align: center;
	}
	
	@media (max-width: 767px) {
		
		#logo {
			margin-right: 60px;
		}
		
	}

/***********************************************************************************
 *	- MENU
 ***********************************************************************************/
 	
 	.menu,
	.menu ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.menu {
		margin-top: 33px;
	}
	
	.menu > li {
		float: left;
	}
	
	.menu li a {
		display: block;
		padding: 10px 30px;
		border-bottom: 1px solid #212121;
		color: #c2c2c2;
		font-size: 14px;
		line-height: 26px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.menu > li > a {
		position: relative;
		padding: 10px 10px 40px 10px;
		border-bottom: none;
		margin-right: 10px;
		color: #fff;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	
	.menu > li:last-child > a {
		margin-right: 0;
	}
	
	.menu li.dropdown ul {
		position: absolute;
		z-index: 2000;
		top: 100%;
		left: 0;
		display: none;
		width: 210px;
		border: 1px solid #212121;
		border-bottom: none;
		background-color: #151515;
	}
	
	.menu li.dropdown ul ul {
		top: -1px;
		left: 100%;
	}
	
	.menu li.dropdown:hover > ul {
		display: block;
	}
	
	.menu li.megamenu .megamenu-container {
		position: absolute;
		z-index: 2000;
		top: 100%;
		left: 0;
		display: none;
		width: 100%;
		border: 1px solid #212121;
		border-bottom: none;
		background-color: #151515;
	}
	
	.megamenu-container .section {
		float: left;
		width: 25%;
		border-right: 1px solid #212121;
	}
	
	.megamenu-container .section:last-child {
		border-right: none;
	}
	
	.megamenu-container.col-2 .section { 
		width: 50%; 
	}
	
	.megamenu-container.col-3 .section { 
		width: 33.33333333%; 
	}
	
	.megamenu-container.col-4 .section { 
		width: 25%; 
	}
	
	.megamenu-container.col-5 .section { 
		width: 20%; 
	}
	
	.menu li.megamenu:hover > .megamenu-container { 
		display: block; 
	}
	
	.sf-arrows .sf-with-ul:after {
		position: absolute;
		top: 50%;
		right: 0;
		display: none;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: #fff;
		margin-top: -17px;
		content: "";
	}
		
	.sf-arrows > li:hover > .sf-with-ul:after { 
		border-top-color: #f85b38; 
	}
		
	.sf-arrows ul .sf-with-ul:after {
		display: block;
		border-color: transparent;
		border-left-color: #c2c2c2;
		margin-top: -5px;
		margin-right: 10px;
	}
	
	.menu li a:hover, 
	.menu li.active > a, 
	.menu li.sfHover > a {
		color: #f85b38;
		text-decoration: none;
	}
	
	.menu li.dropdown ul li a:hover:before,
	.menu li.dropdown ul li.sfHover > a:before,
	.megamenu-container .section ul li a:hover:before {
		border-color: #f85b38;
	}
	
	.menu ul li > a:hover,
	.menu ul li.sfHover > a {
		border-color: #f85b38;
		color: #c2c2c2;
	}
	
	@media (min-width: 1200px) {
		
		.menu > li > a {
			padding: 10px 20px 40px 20px;
			margin-right: 25px;
		}	
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
	
		.menu {
			display: none;
		}
		
	}
	
	@media (max-width: 767px) {
	
		.menu {
			display: none;
		}
		
	}
	
/***********************************************************************************
 *	- MOBILE MENU
 ***********************************************************************************/	
	
	#mobile-menu-button {
		float: right;
		display: none;
		width: 48px;
		height: 48px;
		background-color: #f85b38;
		color: #fff;
		font-size: 24px;
		line-height: 52px;
		text-align: center;
		text-decoration: none;
	}
	
	#mobile-menu,
	#mobile-menu ul {
		list-style: none;
		display: none;
		margin: 0;
		background-color: #151515;
	}

	#mobile-menu {
		border-bottom: 1px solid #fff;
	}
	
	#mobile-menu li a {
		display: block;
		padding: 10px 20px;
		border-top: 1px solid #fff;
		color: #fff;
		font-size: 14px;
		text-decoration: none;
	}

	#mobile-menu > li > a {
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	#mobile-menu ul a {
		padding-left: 40px;
	}

	#mobile-menu ul ul a {
		padding-left: 60px;
	}

	#mobile-menu .megamenu-container {
		display: none;
		margin-left: 0;
	}

	#mobile-menu .megamenu-container .section {
		float: none;
		width: 100%;
		margin-bottom: -1px;
		padding: 0 20px 20px 20px;
	}

	#mobile-menu .megamenu-container .section ul {
		display: block;
		margin: 0 -25px -20px;
	}

	#mobile-menu .megamenu-container .section ul a {
		padding-left: 40px;
	}

	#mobile-menu .megamenu-container .section > ul li a:before {
		display: none;
	}

	#mobile-menu .megamenu-container .section ul li:last-child a {
		border-bottom: 1px solid #fff;
	}
	
	#mobile-menu li.dropdown > a,
	#mobile-menu li.megamenu > a { 
		position: relative;
	}
	
	#mobile-menu li.dropdown > a:after,
	#mobile-menu li.megamenu > a:after {
		position: absolute;
		top: 50%;
		right: 20px;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: #fff;
		margin-top: -2px;
		content: "";
	}
	
	#mobile-menu li.dropdown > a.open:after,
	#mobile-menu li.megamenu > a.open:after {
		border-top-color: transparent;
		border-bottom-color: #fff;
		margin-top: -6px;
	}
	
	#mobile-menu li.search a {
		display: none;
	}
	
	#mobile-menu #search-form-container {
		position: relative;
		z-index: 1;
		display: block;
		padding: 15px 20px;
		border-top: 1px solid #fff;
		background: transparent;
		text-align: left;
	}
	
	#mobile-menu #search-form {
		position: relative;
		top: 0;
		-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
				transform: translateY(0);
	}
	
	#mobile-menu #search-form #search {
		width: 100%;
		height: 40px;
	}
	
	#mobile-menu #search-submit {
		position: absolute;
		top: -4px;
		right: 15px;
	}
	
	#mobile-menu #search-form-container a.search-form-close {
		display: none;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#mobile-menu-button {
			display: block;
			margin-top: 32px;
		}
		
	}
	
	@media (max-width: 767px) {
		
		#mobile-menu-button {
			position: absolute;
			top: 32px;
			right: 15px;
			display: block;
		}
		
	}
	
/***********************************************************************************
 *	- SEARCH
 ***********************************************************************************/
	
	.menu li.search {
		position: relative;
		float: right;
		padding: 0;
	}
	
	.menu li.search a {
		position: relative;
		top: -2px;
		padding: 11px 15px;
		color: #fff;
		font-size: 18px;
		text-decoration: none;
	}
	
	.menu li.search a:hover {
		color: #f85b38;
	}
	
	.menu li.search a:hover:after,
	.menu li.search.sfHover a:after {
		display: none;
	}
	
	#search-form {
		position: absolute;
		top: 50%;
		width: 100%;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
	}
	
	#search-form-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
		padding: 30px 0 20px 0;
		background-color: rgba(21, 21, 21, 0.98);
		text-align: center;
	}
	
	#search-form-container.open-search-form {
		z-index: 9999;
	}
	
	#search-form {}
	
	#search-form #search {
		display: inline-block;
		width: 50%;
		height: 50px;
		padding: 10px 45px 10px 20px;
		margin: 0 auto;
		border-color: #fff;
		background-color: #fff;
		color: #878787;
	}
	
	#search-submit {
		display: inline-block;
		padding: 8px;
		border: none;
		margin-bottom: 0;
		margin-left: -40px;
		background: url(../images/search.png) no-repeat center center;
		vertical-align: middle;
	}
	
	#search-form #s:focus { border-color: #a1a1a1; }
	
	#search-form-container a.search-form-close {
		position: absolute;
		top: 50px;
		right: 50px;
		display: block;
		width: 32px;
		height: 32px;
		padding: 0;
		border: 2px solid #fff;
		border-radius: 50%; 
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		line-height: 25px;
		text-align: center;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	#search-form-container a.search-form-close:hover {
		border-color: #fff;
		background-color: #fff;
		color: #212121;
	}
	
	@media (min-width: 1400px) {
		
		.menu li.search {
			padding: 0 15px;
		}
		
	}
	
/***********************************************************************************
 *	- STICKY
 ***********************************************************************************/
	
	#header-sticky [class^="col-"] {
		position: static;
	}
	
	#header-sticky .container {
		position: relative;
	}
	
	#header-sticky {
		position: fixed;
		z-index: 8000;
		top: 0;
		right: 0;
		left: 0;
		display: none;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
		background-color: #151515;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
	}
	
	@media (min-width: 1200px) {
		
		#header-sticky [class^="col-"] {
			position: relative;
		}
		
		#header-sticky {
			padding: 0 30px;
		}
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#header-sticky {
			visibility: hidden;
		}
		
	}
	
	@media (max-width: 767px) {
		
		#header-sticky {
			visibility: hidden;
		}
		
	}

/***********************************************************************************
 *	+ PAGE CONTENT
 ***********************************************************************************/
	
	#page-content {
		padding-bottom: 50px;
	}

/***********************************************************************************
 *	- PAGE HEADER
 ***********************************************************************************/
 	
	#page-header {
		position: relative;
		z-index: 1;
		padding: 220px 0 160px;
		background: #212121 no-repeat center center;
		color: #fff;
		text-align: center;
		-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
				transform: translateZ(0);
	}
	
	#page-header:after {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		opacity: 0.83;
		content: "";
	}
	
	#page-header h1 {
		margin-bottom: 10px;
		color: #fff;
		letter-spacing: 5px;
		text-transform: uppercase;
	}
	
	#page-header h6 {
		margin-bottom: 0;
		color: #f85b38;
		font-weight: 400;
		letter-spacing: 5px;
		text-transform: uppercase;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#page-header {
			padding: 160px 0;
		}
		
	}
	
	@media (max-width: 767px) {
		
		#page-header {
			padding: 160px 0;
		}
		
		#page-header h1 {
			font-size: 32px;
			line-height: 42px;
			letter-spacing: 5px;
		}
		
		#page-header h6 {
			letter-spacing: 3px;
		}
		
	}

/***********************************************************************************
 *	+ FOOTER
 ***********************************************************************************/
/***********************************************************************************
 *	- FOOTER
 ***********************************************************************************/
 
 	#footer {
		padding: 100px 0;
		background: #212121 url(../images/bg-footer.jpg) no-repeat center center;
		color: #7e7e7e;
	}
	
	#footer h1,
	#footer h2,
	#footer h3,
	#footer h4,
	#footer h5,
	#footer h6,
	#footer blockquote {
		color: #fff;
	}
	
	#footer .widget:last-child {
		margin-bottom: 0;
	}
	
	#footer .widget-title {
		margin-top: 5px;
		margin-bottom: 70px;
	}
	
	#footer .widget-pages ul li a,
	#footer .widget-archives ul li a,
	#footer .widget-metadata ul li a,
	#footer .widget-categories ul li a {
		color: inherit;
	}
	
	#footer .widget-pages ul li a:hover,
	#footer .widget-archives ul li a:hover,
	#footer .widget-metadata ul li a:hover,
	#footer .widget-categories ul li a:hover {
		color: #f85b38;
	}
	
	#footer .widget-search #s {
		color: inherit;
	}
	
	#footer .widget-search #s:focus {
		border-bottom-color: inherit;
	}
	
	#footer .widget-search input[type="submit"] {
		background-image: url(../images/search-white.png);
	}
	
	#footer .widget-calendar table caption {
		color: inherit;
	}
	
	#footer .tweets-list ul {
		color: inherit;
	}
	
	#footer .widget-recent-posts ul li {
		margin-bottom: 25px;
	}
	
	#footer .widget-recent-posts ul li:last-child {
		margin-bottom: 0;
	}
	
	#footer .widget-recent-posts ul li .post-title {
		color: inherit;
	}
	
	#footer .widget-recent-posts ul li .post-title:hover {
		color: #f85b38;
	}
	
	#footer .widget-contact ul li a {
		color: inherit;
	}
	
	#footer .widget-newsletter form {
		padding: 0;
		background-color: transparent;
	}
	
	#footer .widget-newsletter #newsletter-email {
		display: inline-block;
		width: 70%;
		padding-left: 0;
		padding-bottom: 25px;
		border: none;
		border-bottom: 1px solid #878787;
		margin-right: 20px;
		background-color: transparent;
		color: inherit;
	}
	
	#footer .widget-newsletter #newsletter-email:focus {
		border-bottom-color: #fff;
	}
	
	#footer .widget-newsletter button[type="submit"] {
		display: inline-block;
		width: auto;
		padding: 10px 0 18px;
		border-bottom: 1px solid #f85b38;
		background-color: transparent;
		color: #f85b38;
	}
	
	#footer .widget-newsletter button[type="submit"]:hover {
		border-color: #fff;
		color: #fff;
	}
	
	#footer .widget-newsletter + .widget-social {
		margin-top: -50px;
	}
	
	#footer .widget-social .social-media a {
		margin-right: 50px;
	}
	
	#footer .widget-social .social-media a:last-child {
		margin-right: 0;
	}
	
	@media (min-width: 1200px) {
		
		#footer .widget-social .social-media a {
			margin-right: 65px;
		}
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#footer .widget-newsletter #newsletter-email {
			width: 100%;
		}
		
		#footer .widget-social .social-media a {
			margin-right: 30px;
		}
		
	}
	
	@media (max-width: 767px) {
		
		#footer [class^="col-"] + [class^="col-"] {
			margin-top: 75px;
		}
		
	}
	
/***********************************************************************************
 *	- FOOTER BOTTOM
 ***********************************************************************************/
 
 	#footer-bottom {
		padding: 25px 0;
		background-color: #151515;
		color: #7e7e7e;
	}
	
	#footer + #footer-bottom {
		border-top: 1px solid #878787;
	}
	
	#footer-bottom h1,
	#footer-bottom h2,
	#footer-bottom h3,
	#footer-bottom h4,
	#footer-bottom h5,
	#footer-bottom h6,
	#footer-bottom blockquote {
		color: #fff;
	}
	
	#footer-bottom .widget:last-child {
		margin-bottom: 0;
	}
	
	#footer-bottom .widget-pages ul li a,
	#footer-bottom .widget-archives ul li a,
	#footer-bottom .widget-metadata ul li a,
	#footer-bottom .widget-categories ul li a {
		color: inherit;
	}
	
	#footer-bottom .widget-pages ul li a:hover,
	#footer-bottom .widget-archives ul li a:hover,
	#footer-bottom .widget-metadata ul li a:hover,
	#footer-bottom .widget-categories ul li a:hover {
		color: #f85b38;
	}
	
	#footer-bottom .widget-search #s {
		color: inherit;
	}
	
	#footer-bottom .widget-search #s:focus {
		border-bottom-color: inherit;
	}
	
	#footer-bottom .widget-search input[type="submit"] {
		background-image: url(../images/search-white.png);
	}
	
	#footer-bottom .widget-calendar table caption {
		color: inherit;
	}
	
	#footer-bottom .tweets-list ul {
		color: inherit;
	}
	
	#footer-bottom .widget-recent-posts ul li .post-title {
		color: inherit;
	}
	
	#footer-bottom .widget-recent-posts ul li .post-title:hover {
		color: #f85b38;
	}
	
	#footer-bottom .widget-contact ul li a {
		color: inherit;
	}
	
/***********************************************************************************
 *	+ PAGES
 ***********************************************************************************/
/***********************************************************************************
 *	- INDEX
 ***********************************************************************************/ 

/***********************************************************************************
 *	- ABOUT
 ***********************************************************************************/
		
	.about-me {
		margin-bottom: 50px;
		color: #212121;
		text-align: center;
	}
	
	.about-me-details {
		position: relative;
		z-index: 1;
		padding: 55px 10px;
		border-top: 10px solid #f85b38;
		margin-top: -10px;
		background-color: #f3f3f3;
		opacity: 0;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.about-me-details h4 {
		margin-bottom: 0;
		font-size: 20px;
		font-weight: 600;
	}
	
	.about-me-details h6 {
		margin-bottom: 30px;
		color: #f85b38;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	
	.about-me-details > *:last-child {
		margin-bottom: 0;
	}
	
	.about-me:hover .about-me-details {
		opacity: 1;
	}
	
	.submit-resume {
		position: relative;
		display: block;
		background-color: #f85b38;
		color: #fff;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
	}
	
	.submit-resume a,
	.submit-resume h3,
	.submit-resume h6 {
		margin-bottom: 0;
		color: #fff;
	}
	
	.submit-resume h6 {
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	
	.submit-resume-content {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
	}
	
	
	/* TEAM LIST */
	.team-list {
		margin: 50px 3%;
		list-style: none;
	}
	
	.team-list li {
		float: left;
		padding: 0 15px;
		width: 25%;
	}
	
	.team-list.items-6 li {
		width: 33.33333%;
	}
	
	.team-list.items-5 li {
		width: 20%;
	}
	
	.team-list.items-4 li {
		width: 25%;
	}
	
	.team-list:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	
	@media (min-width: 1400px) {
		
		.team-list.items-6 li {
			width: 16.666667%;
		}
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.team-list {
			margin-right: 0;
			margin-left: 0;
		}
		
		.about-me .about-me-details {
			opacity: 1;
		}
		
	}
	
	@media (max-width: 767px) {
		
		.team-list {
			margin-right: 0;
			margin-left: 0;
		}
		
		.team-list li,
		.team-list.items-4 li,
		.team-list.items-5 li,
		.team-list.items-6 li {
			float: none;
			width: 100%;
		}
		
		.about-me .about-me-details {
			opacity: 1;
		}
		
	}
 
/***********************************************************************************
 *	- SERVICES
 ***********************************************************************************/
 	
	.service-box {
		margin-bottom: 50px;
	}
	
	.service-box-content {}
	
	
	/* SERVICE BOX STYLE 1 */
	.service-box.style-1 {
		margin-bottom: 75px;
		text-align: center;
	}
	
	.service-box.style-1 > i,
	.service-box.style-1 > h1 {
		margin-bottom: 30px;
		color: #d1d1d1;
		font-size: 48px;
		line-height: 48px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.service-box.style-1 > i {
		display: inline-block;
	}
	
	.service-box.style-1 .service-box-content h4 {
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	
	.service-box.style-1 .service-box-content > a {
		display: inline-block;
		border-bottom: 1px solid #212121;
		color: #212121;
		font-size: 12px;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.service-box.style-1 .service-box-content > a:hover {
		border-color: #f85b38;
		color: #f85b38;
	}
	
	.service-box.style-1:hover > i,
	.service-box.style-1:hover > h1 {
		color: #f85b38;
	}
	
	
	/* SERVICE BOX STYLE 2 */
	.service-box.style-2 {
		position: relative;
		padding: 60px 20px; 
		background-color: #fff;
		text-align: center;
		-webkit-transition: box-shadow 0.3s;
				transition: box-shadow 0.3s;
	}
	
	.service-box.style-2 > i {
		display: inline-block;
		margin-bottom: 30px;
		color: #f85b38;
		font-size: 48px;
		line-height: 48px;
	}
	
	.service-box.style-2 > h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		color: #f3f3f3;
		font-size: 200px;
		line-height: 200px;
		-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
	}
	
	.service-box.style-2 .service-box-content {
		position: relative;
		z-index: 1;
	}
	
	.service-box.style-2 .service-box-content h4 {
		margin-bottom: 25px;
		font-size: 20px;
	}
	
	.service-box.style-2:hover {
		box-shadow: 2px 1px 27px 0 rgba(0, 0, 0, 0.25);
	}
	
	
	/* SERVICE BOX STYLE 3 */
	.service-box.style-3 {}
	
	.service-box.style-3.icon-right {
		text-align: right;
	}
	
	.service-box.style-3 > i {
		color: #d1d1d1;
		font-size: 32px;
		line-height: 32px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.service-box.style-3 > h4 {
		padding-top: 10px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.service-box.style-3.icon-left > i {
		float: left;
		margin-right: 30px;
	}
	
	.service-box.style-3.icon-right > i {
		float: right;
		margin-left: 30px;
	}
	
	.service-box.style-3 .service-box-content > *:last-child {
		margin-bottom: 0;
	}
	
	.service-box.style-3:hover > i {
		color: #f85b38;
		-webkit-animation: icon-zoom 0.5s linear;
				animation: icon-zoom 0.5s linear;
	}
	
	@-webkit-keyframes icon-zoom {
		50% {
			-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
					transform: scale(1.2);
		}
	}

	@keyframes icon-zoom {
		50% {
			-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
					transform: scale(1.2);
		}
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.service-box.style-3.icon-left > i,
		.service-box.style-3.icon-right > i {
			float: none;
		}
		
	}
 
/***********************************************************************************
 *	- PORTFOLIO
 ***********************************************************************************/
	
	.portfolio-item {
		margin-bottom: 20px;
	}
	
	.portfolio-item-thumbnail {
		position: relative;
	}
	
	.portfolio-item-thumbnail img {
		width: 100%;
		display: block;
	}
	
	.portfolio-item-hover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(248, 91, 56, 0.8);
		opacity: 0;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item-hover a {
		color: #fff;
	}
	
	.portfolio-item-hover a:hover {
		color: #212121;
		text-decoration: none;
	}
	
	.zoom-action {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 42px;
		line-height: 42px;
		-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item-details {}
	
	.portfolio-item-details h6 {
		color: #f85b38;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	
	.portfolio-item-details h6 + p {
		margin-bottom: 40px;
		font-size: 12px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	
	.portfolio-item-details > a {
		display: inline-block;
		border-bottom: 1px solid #f85b38;
		color: #f85b38;
		font-size: 12px;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item-details > a:hover {
		border-color: #212121;
		color: #212121;
	}
	
	.portfolio-item-thumbnail + .portfolio-item-details {
		text-align: center;
		padding: 40px 10px;
	}
	
	.portfolio-item-hover .portfolio-item-details {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
	}
	
	.portfolio-item-hover .portfolio-item-details h6 {
		color: #fff;
	}
	
	.portfolio-item:hover .portfolio-item-hover {
		opacity: 1;
	}
	
	
	/* PORTFOLIO CLASSIC */
	.portfolio-item.portfolio-classic {
		margin-bottom: 50px;
	}
	
	.portfolio-item.portfolio-classic .portfolio-item-thumbnail {
		float: left;
		width: 66.666667%;
	}
	
	.portfolio-item.portfolio-classic .portfolio-item-details {
		float: left;
		width: 33.333333%;
		padding: 0;
		padding-left: 30px;
		text-align: left;
	}
	
	.portfolio-item.portfolio-classic .portfolio-item-details h4 {
		font-size: 24px;
	}
	
	.portfolio-item.portfolio-classic:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	
	
	/* PROJECT DETAILS */
	.project-details {
		margin-bottom: 50px;
		list-style: none;
	}
	
	.project-details li {
		margin-bottom: 25px;
	}
	
	.project-details li:last-child {
		margin-bottom: 0;
	}
	
	.project-details li i {
		float: left;
		display: block;
		width: 56px;
		height: 56px;
		margin-right: 20px;
		background-color: #f7f7f7;
		color: #212121;
		font-size: 24px;
		line-height: 56px;
		text-align: center;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.project-details li h4 {
		margin-bottom: 0;
		font-weight: 600;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.project-details li a {
		color: #878787;
	}
	
	.project-details li:hover i {
		background-color: #f85b38;
		color: #fff;
	}
	
	.project-details li:hover h4 {
		color: #f85b38;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.portfolio-item.portfolio-classic .portfolio-item-thumbnail {
			float: none;
			width: 100%;
			margin-bottom: 30px;
		}
		
		.portfolio-item.portfolio-classic .portfolio-item-details {
			float: none;
			width: 100%;
			padding-left: 0;
		}
		
	}
	
	@media (max-width: 767px) {
		
		.portfolio-item.portfolio-classic .portfolio-item-thumbnail {
			float: none;
			width: 100%;
			margin-bottom: 30px;
		}
		
		.portfolio-item.portfolio-classic .portfolio-item-details {
			float: none;
			width: 100%;
			padding-left: 0;
		}
		
	}
	
/***********************************************************************************
 *	- BLOG
 ***********************************************************************************/
 	
	/* BLOG ARTICLE */
	.blog-article {
		margin-bottom: 80px;
	}
	
	.blog-article-thumbnail {}
	
	.blog-article-thumbnail img {}
	
	.blog-article-title {
		margin-bottom: 0;
	}
	
	.blog-article-thumbnail + .blog-article-title {
		margin-top: 50px;
	}
	
	.blog-article-details {
		font-size: 13px;
		line-height: 24px;
		letter-spacing: 2px;
		text-transform: uppercase;
		list-style: none;
	}
	
	.blog-article-details li {
		display: inline-block;
	}
	
	.blog-article-details li:first-child {
		display: block;
	}
	
	.blog-article-details li:after {
		margin-left: 5px;
		content: "/";
	}
	
	.blog-article-details li:first-child:after,
	.blog-article-details li:last-child:after {
		display: none;
	}
	
	.blog-article-details li a {
		color: #878787;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.blog-article-details li.date a {
		color: #212121;
	}
	
	.blog-article-details li.category a {
		color: #f85b38;
	}
	
	.blog-article-details li a:hover {
		color: #f85b38;
	}
	
	.blog-article-details li.category a:hover {
		color: #212121;
	}
	
	.blog-article-content {
		margin: 20px 0;
	}

	.blog-article-content blockquote p:first-of-type:first-letter {
		font-size: 3em;
	    font-weight: bold;
	    color:  #38cdf8;
	}
	
	.blog-article-content > a {
		display: inline-block;
		border-bottom: 1px solid #212121;
		color: #212121;
		font-size: 12px;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.blog-article-content > a:hover {
		border-color: #f85b38;
		color: #f85b38;
	}
	
	.blog-article-content blockquote {
		padding: 40px 25px;
		border: 15px solid #f5f5f5;
		margin: 50px 0;
	}
	
	
	/* BLOG POST COMMENT */
	#comments-section {
		margin-top: 100px;
	}
	
	.commentlist-title {
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	
	.commentlist,
	.commentlist ul {
		list-style: none;
	}
	
	.commentlist {
		margin: 70px 0 100px;
	}
	
	.commentlist ul {}
	
	.commentlist li > ul.children {
		margin-left: 100px;
	}
	
	.commentlist li {}
	
	.comment-body {
		position: relative;
		padding-left: 100px;
		margin-bottom: 50px;
	}
	
	.comment-author {}
	
	.comment-author .avatar {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
	}
	
	.comment-author .fn {
		color: #f85b38;
		font-size: 14px;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.comment-author .fn:hover {
		color: #212121;
	}
	
	.comment-author .says {
		display: none;
	}
	
	.comment-metadata {
		margin-bottom: 15px;
		font-size: 13px;
		line-height: 24px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	
	.comment-metadata a {
		color: #878787;
	}
	
	.comment-content {}
	
	.reply {}
	
	.reply a {
		border-bottom: 1px solid #f85b38;
		font-size: 13px;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.reply a:hover {
		border-color: #212121;
		color: #212121;
	}
	
	
	@media (max-width: 767px) {
		
		.comment-body {
			padding-left: 0;
		}
		
		.comment-author .avatar {
			position: relative;
			display: block;
			margin-bottom: 20px;
		}
		
	}
	
	
	/* BLOG POST COMMENT FORM */
	.commentform-title {
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	
	#commentform {
		margin: 50px 0;
	}
	
	#commentform label {}
	
	#commentform textarea,
	#commentform input[type="url"],
	#commentform input[type="text"],
	#commentform input[type="email"] {
		position: relative;
		z-index: 1;
	}
	
	#commentform button[type="submit"] {
		padding: 18px 43px 18px 45px;
		margin-top: 30px;
	}


/***********************************************************************************
 *	- CONTACT
 ***********************************************************************************/ 	
 	
	#contact-form {
		margin-bottom: 50px;
	}
	
	#contact-form label {
		display: block;
	}
	
	#contact-form label.error {
		color: #f85b39;
		font-size: 14px;
	}
	
	#contact-form textarea,
	#contact-form input[type="url"],
	#contact-form input[type="text"],
	#contact-form input[type="email"] {}
	
	#contact-form button[type="submit"] {
		padding: 18px 43px 18px 45px;
		margin-top: 30px;
	}
	
/***********************************************************************************
 *	- SHORTCODES
 ***********************************************************************************/
 
	.icons-list {
		list-style: none;
	}

	.icons-list li {
		text-align: center;
		display: inline-block;
		padding: 10px;
		width: 13.7%;
		min-height: 100px;
		vertical-align: top;
	}

	.icons-list li i,
	.icons-list li .glyphicon {
		font-size: 20px;
	}

	.icons-list li .icon-name {
		display: block;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {

		.icons-list li {
			width: 19%;
		}
		
	}
	
	@media (max-width: 767px) {

		.icons-list li {
			width: 49%;
		}
		
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		.icons-list li {
			width: 32%;
		}

	}